<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Admin</h2>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Languages</p>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="languages">Languages</label>
                            <div class="input-group">
                                <input type="text" id="languages" class="form-control" ng-model="vm.languages"/>
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="vm.save(vm.languages, 1)">Save</button>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tools">Tools and Frameworks</label>
                            <div class="input-group">
                                <input type="text" id="tools" class="form-control" ng-model="vm.tools"/>
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="vm.save(vm.tools,3)">Save</button>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="platforms">Platforms</label>
                            <div class="input-group">
                                <input type="text" id="platforms" class="form-control" ng-model="vm.platforms"/>
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="vm.save(vm.platforms,2)">Save</button>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="practices">Practices</label>
                            <div class="input-group">
                                <input type="text" id="practices" class="form-control" ng-model="vm.practices"/>
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="vm.save(vm.practices,4)">Save</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

