<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <h3>Recategorize:</h3>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Uncategorized
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.uncategorized">{{item.skill}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Languages
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('platforms')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.languages">{{item.skill}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Platforms
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('platforms')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.platforms">{{item.skill}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Tools
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('tools')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.tools">{{item.skill}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Practices
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('uncategorized')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.practices">{{item.skill}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>