<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div alert-bar></div>

        <div class="panel panel-default">
            <div class="panel-heading"><p class="panel-title">Confirm Your Account</p></div>
            <div class="panel-body">
                <form novalidate name="form">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input name="firstName" class="form-control" id="firstName" type="text" ng-model="vm.firstName"
                               placeholder="First Name" required/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input name="lastName" class="form-control" id="lastName" type="text" ng-model="vm.lastName"
                               placeholder="Last Name" required/>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Email</label>
                        <input name="email" class="form-control" id="emailAddress" type="email" ng-model="vm.email"
                               placeholder="Email Address" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" class="form-control" id="password" type="password" ng-model="vm.password"
                               placeholder="Password" required/>
                    </div>
                    <button class="btn bg-primary" type="submit" ng-click="vm.confirm()" ng-disabled="loginForm.$invalid">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>