<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div alert-bar></div>

        <div class="panel panel-default">
            <div class="panel-heading"><p class="panel-title">Create Your Account</p></div>
            <div class="panel-body">
                <form novalidate name="form">
                    <div class="form-group">
                        <label for="emailAddress">Email</label>
                        <input name="email" class="form-control" id="emailAddress" type="email" ng-model="vm.email"
                               placeholder="Email Address" required/>
                    </div>
                    <button class="btn bg-primary" type="button" ng-click="vm.create()" ng-disabled="loginForm.$invalid">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>