<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div class="panel panel-default">
            <div class="panel-heading"><p class="panel-title">Success...</p></div>
            <div class="panel-body">
                <p>Check your email for a message from us, then click the link to finish creating your account.</p>
                <div class="text-center">
                    <a href="/login" class="btn btn-primary">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>