<!-- Profile Name -->
<div class="row">
    <div class="col-md-12">
        <h1><span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x"></i>
                </span> {{::vm.profileName}}</h1>
    </div>
</div>
<!-- End Profile Name -->