doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet', type='text/css')
  body
    block content