<h2>Welcome, {{::vm.profileName}}!</h2>
<div class="alert alert-info">
    <p>In your organization, there are <span class="big">8</span> people who are available to coach you in a skill you're interested in</p>
    <p>...and <span class="big">5</span> people who would like to learn something you know very well.</p>
</div>