<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">{{vm.category | capitalize}}</p>
            </div>
            <div class="panel-body">
                <form name="skillRankings">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="skill in vm.mySkills">
                            <p class="lead">{{skill.skillName}} - {{skill.rank}}</p>
                            <div ranking-button-bar skill="skill">
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>