<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div profile-header></div>

        <!-- Skills Entry Bar -->
        <div ng-if="vm.isEditable">
            <h3>Add New Skills:</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <form novalidate name="form">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">{{vm.rank.rank}}&nbsp;<span
                                                    class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="rank in vm.ranks"><a
                                                        ng-click="vm.setRank(rank)">{{::rank.rank}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <input type="text" ng-required="true" class="form-control" aria-label="..."
                                           ng-model="vm.skills">

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-disabled="form.$invalid"
                                                ng-click="vm.add()">Add
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Skills Entry Bar -->

        <h3>Current Skills:</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Languages
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('languages')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.languages">{{item.skillName}} -
                                {{item.rank}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Platforms
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('platforms')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.platforms">{{item.skillName}} -
                                {{item.rank}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Tools
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('tools')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.tools">{{item.skillName}} - {{item.rank}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Practices
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('practices')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.practices">{{item.skillName}} -
                                {{item.rank}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Uncategorized
                            <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right"
                                    ng-click="vm.edit('uncategorized')">Edit
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-unstyled" ng-repeat="item in vm.uncategorized">{{item.skillName}} -
                                {{item.rank}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>