<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">{{vm.category}}
        <button ng-if="vm.isEditable" class="btn btn-xs btn-primary pull-right" ng-click="vm.edit()">Edit</button></p>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-unstyled" ng-repeat="item in vm.skills">{{item.skillName}} - {{item.rank}}</li>
        </ul>
    </div>
</div>