<div ng-if="vm.isEditable">
    <h3>Add New Skills:</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-12">
                    <form novalidate name="form">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{vm.rank.rank}}&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="rank in vm.ranks"><a
                                                ng-click="vm.setRank(rank)">{{::rank.rank}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <input type="text" ng-required="true" class="form-control" aria-label="..."
                                   ng-model="vm.skills">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="form.$invalid"
                                        ng-click="vm.add()">Add
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

