<div class="btn-group btn-group-sm">
    <button class="btn btn-primary"
            ng-repeat="rank in vm.ranks"
            ng-model="rank.rank"
            ng-class="{active: vm.isActive(rank)}"
            ng-click="vm.set(rank)">{{rank.rank}}</button>
</div>