<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div alert-bar></div>

        <div class="panel panel-default">
            <div class="panel-heading"><p class="panel-title">Please Log In...</p></div>
            <div class="panel-body">
                <form novalidate name="loginForm">
                    <div class="form-group">
                        <label for="emailAddress">Email</label>
                        <input name="email" class="form-control" id="emailAddress" type="email" ng-model="vm.email"
                               placeholder="Email Address" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" class="form-control" id="password" type="password" ng-model="vm.password"
                               placeholder="Password" required/>
                    </div>
                    <button class="btn bg-primary" type="submit" ng-click="vm.login()" ng-disabled="loginForm.$invalid">Go</button>
                    <div><a href="/createAccount">Create an account</a></div>
                </form>
            </div>
        </div>
    </div>
</div>