<div ng-show="ctrl.show" class="alert {{ctrl.type}} alert-dismissible">
    <button ng-click="ctrl.close()" type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times</span>
    </button>
    <p>{{ctrl.message}}</p>
</div>