<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title">Search</h1></div>
            <div class="panel-body">
                <form novalidate name="form" class="form-inline">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <label for="rank">Which AIM people are </label>
                                <select name="rank" class="form-control" id="rank" ng-model="vm.rank">
                                    <option value="30">Expert</option>
                                    <option value="25">Advanced</option>
                                    <option value="20">Intermediate</option>
                                    <option value="15">Novice</option>
                                    <option value="10">Beginner</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="skill">in</label>
                                <select name="skill" class="form-control" id="skill" ng-model="vm.skill">
                                    <option ng-repeat="skill in vm.skills" ng-value="skill.id">{{skill.skill}}</option>
                                </select>
                            </div>
                            <button class="btn bg-primary" type="button" ng-click="vm.search()">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.results && vm.results.length == 0">
    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default">
            <div class="panel-heading"><p class="panel-title">Search Results</p></div>
            <div class="panel-body">
                <p class="text-center">No Results Found</p>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.results.length > 0">
    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default">
            <div class="panel-heading"><p class="panel-title">Search Results</p></div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="result in vm.results">
                        <a href="{{::result.skillsUrl}}">{{::result.firstname}}&nbsp;{{::result.lastname}}</a>
                        ({{::result.rank.rank}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>